
@{
    ViewBag.Title = "Autorize Failed";
    Layout = null;
}

<!DOCTYPE HTMl>
<html>
<head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/style404.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">
        <h1>Emir Hazir</h1>
        <div class="banner"><img src="~/Content/images404/fuel-404-logo.png" alt="" /></div>
        <div class="search">
            <p>@ViewData["Message"]</p>
        </div>

    </div>
</body>
</html> 

